body {
    font-family: 'Roboto', sans-serif; /* Use a nice font */
    font-weight: 400; /* Regular font weight */
    margin: 0;
    padding: 0;
    background-color: #1e1e1e; /* Dark background color */
    color: #fff; /* Text color */
}

h1 {
    text-align: center;
    color: #fff; /* Title text color */
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

.tabs {
    overflow: hidden;
    text-align: center;
}

.tablinks {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.tabcontent {
    display: none;
}

.song {
    margin-top: 20px;
}

.song iframe {
    border-radius: 12px;
    opacity: 0; /* Hide initially */
    transition: opacity 0.3s ease-in-out; /* Add transition for smoother loading */
}

.song.loaded iframe {
    opacity: 1; /* Show when loaded */
}

.song p {
    color: #ccc; /* Description text color */
    font-weight: bold; /* Bold text */
}
