body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e; /* Dark background color */
    color: #fff; /* Text color */
}

h1 {
    text-align: center;
    color: #fff; /* Title text color */
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

.tabs {
    overflow: hidden;
    text-align: center;
}

.tablinks {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.tabcontent {
    display: none;
}

.song {
    margin-top: 20px;
}

.song iframe {
    border-radius: 12px;
}

.song p {
    color: #ccc; /* Description text color */
}
